__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.env
.venv/
dist/
build/
*.egg-info/
.DS_Store
logs/
*.log

# Ignore data storage folders
data/raw/
data/processed/ 

# Ignore file types everywhere
*.parquet
*.csv

roadmap.md

# LaTeX temporary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc